<h1><a href="<%= url.short_url %>"><%= url.short_url %></a></h1>

<p>Redirects to <a href="<%= url.url %>"><%= url.url %></a></p>

<p><a href="mailto:?subject=Shortened%20URL&body=<%= url.short_url %>">
Email Link</a> -- <a href="http://twitter.com/home?status=<%= url.short_url %>">Tweet Link</a></p>



<% if image then %>
	<p>Check image embedding below:</p>
	<p><img src="<%= url.url %>" /></p>
<% end %>