			<p style="margin-top:100px;text-align:center;">Shorten URL -- <a href="/upload">Upload File</a></p>
			<% formtext = "Paste URL here. Press Enter." %>

			<form method="POST" action="/" style="width:400px;margin:0px auto;text-align:center;">
				<input type="text" name="url" id="url" size="50" 
				  style="width:400px;margin:0px auto;text-align:center;" value="<%= formtext %>"
  				onfocus="if ( this.value=='<%= formtext %>' ) { this.value = ''; }"
  				onblur="if ( this.value=='' ) { this.value = '<%= formtext %>'; }" /><br/>
				Embed as image? <input type="checkbox" name="image" />
				<input type="hidden" value="<%= Shorten.button_text %>" id="create_url" />
			</form>
			
			<p style="text-align:center;">Bookmarklet:
        <a href="javascript:void(window.open('<%= Shorten.base_url %>create/' + encodeURIComponent(location.href)));"><%= Shorten.button_text %></a>
      </p>